# Node/NPM
node_modules
npm-debug.log.*
package-lock.json

# Visual Studio Code
/.vscode

# Build
/build

# Distribution
/dist

# Temp
/temp

# Launcher files (created during testing)
/config.json
/preferences.json
/.installed
/.version
/upgrade.json
/upgrade_launcher.json
/secret.txt
