# Node/NPM
node_modules
npm-debug.log.*

# Visual Studio Code
/.vscode

# JetBrains
/.idea

# Build
/build

# Distribution
/dist

# Temp
/temp

# Launcher files (created during testing)
/config.json
/preferences.json
/extConfig.json
/.installed
/.version
/version.txt
/secret.txt
/launcher.log
/extern/bluezip/bluezip.db
/flashpoint.sqlite
Data/flashpoint.sqlite

# Jest related files
/.coveralls.yml
/coverage
/tests/result

# nano's swap/lock files.
*.swp
