{
  "exclude": [
    "src/main/**",
    "src/back/**",
    "tests/**"
  ],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      },
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  }
}
