.manager-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.manager-page-sidebar {
  background-color: var(--layout__primary-background);
  height: 100%;
  width: 15rem;
  display: flex;
  flex-direction: column;
}

.manager-page-subsection-header {
  font-weight: 400;
  font-size: 1.2em;
  align-self: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.manager-page-sidebar-list {
  flex-grow: 1;
}

.manager-page-subsection-wrapper {
  flex-grow: 1;
}

.manager-page-subsection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem
}

.manager-page-subsection-list {
  overflow-y: auto;
  flex-grow: 1;
}

.manager-extension-row {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  color: var(--layout__game-item-color);
  background-color: var(--layout__primary-background);
}

.manager-extension-row-icon {
  width: 3rem;
  padding-right: 0.3rem;
}

.manager-extension-row-icon > * {
  width: 100%;
  max-height: 100%;
}

.manager-extension-row-content {
  flex-grow: 1;
}

.manager-extension-row-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manager-extension-row--even {
  background-color: var(--layout__game-list-item-background-even);
}

.manager-extension-row-title {
  font-size: 1.2em;
  font-weight: 400;
}

.manager-extension-row-inner {
  padding: 0.2rem
}

.manager-extension-row-buttons {
  display: flex;
  flex-direction: row;
}

.manager-extension-row-buttons > :not(:first-child) {
  margin-left: 0.3rem;
}

.manager-source-table {
  text-align: left;
}

.manager-source-table-row-key {
  font-weight: 600;
  padding-right: 0.3rem;
}

.manager-source-table-list > :not(:last-child) {
  border-bottom: 1px solid var(--layout__home-page-box-border);
}