<!doctype html>
<html lang="en">
  <head>
    <!-- Meta & Boring stuff -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <!-- Styles -->
    <script src="https://cdn.jsdelivr.net/npm/react-scan/dist/auto.global.js"></script>
    <link rel="icon" href="./images/favicon.ico" />
    <link href="./styles/react-datepicker.css" type="text/css" rel="stylesheet">
    <link data-corecss="true" href="./styles/core.css" type="text/css" rel="stylesheet">
    <link data-fancycss="true" href="./styles/fancy.css" type="text/css" rel="stylesheet">
  </head>
  <body oncontextmenu="return false;">
    <div class="root" id="root"></div>
  </body>
</html>