.ng-rating-sidebar {
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.ng-image-rating_e {
  background-image: url("assets/rating_everyone.png");
}
.ng-image-rating_t {
  background-image: url("assets/rating_teen.png");
}
.ng-image-rating_m {
  background-image: url("assets/rating_mature.png");
}
.ng-image-rating_a {
  background-image: url("assets/rating_adult.png");
}

.ng-score-stars {
  background: url("assets/score.webp") left top repeat-x;
  background-size: 20%;
  width: calc(93px * 1.5);
  height: calc(17px * 1.5);
}

.ng-score-stars-filled {
  background: url("assets/score.webp") left top repeat-x;
  background-position-y: 90%;
  background-size: 20%;
  width: 100%;
  height: 100%;
}

.nga-credit {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.nga-credit-icon {
  margin: 0.1em 0.3em 0em 0em;
}


.ng-trophies {
  display: flex;
  flex-direction: column;
}

.ng-trophies__header {
  font-weight: bold;
}

.ng-trophy {
  display: flex;
  flex-direction: row;
}

.ng-trophy__icon {
  align-self: center;
  margin-right: 0.5rem;
}

.ng-trophy__info {
  display: flex;
  flex-direction: column;
}

.ng-trophy__name {
  font-weight: bold;
}