name: Lint

on: pull_request

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/cache@v2
        id: cache
        with:
          path: | 
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('package.json') }}
      - name: Install Dependencies
        run: npm install
        if: steps.cache.outputs.cache-hit != 'true'
        env:
          CI: true
      - name: eslint
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          eslint_flags: '-c .eslintrc.json ./src/**/*.{ts,tsx} ./gulpfile.js'
